:root {
    --primaryColor: hsl(225,50%,48%);
    --secondaryColor: hsl(180,17%,95%);
    --colorOne: hsl(15, 74%, 70%);
    --colorTwo: hsl(28,100%,82%);
    --hoverColor: hsl(225,56%,59%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 12%);
    --textColor: hsl(240, 1%, 48%);
    --borderColor: hsl(0, 0%, 83%);
    --whiteColorDream: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%,96%);
    --greyText: rgb(145, 145, 145);
    --inputColor: hsl(330, 12%, 97%);
    --boxShadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --transition: .3s ease-in-out;
}

.footer {
    background: var(--secondaryColor);
    padding: 6rem 0 1rem;
    .sectionContainer {
        gap: 2.5rem;

        .gridOne {
            gap: 1rem;
            justify-content: center;
            margin: auto;

            .logoDiv {
                .logo {
                    width: 28%;
                }
            }

            .socialIcon {
                margin-top: 1rem;
                gap: 1rem;

                .icon {
                    height: 50px;
                    width: 30px;
                    border-radius: 10rem;
                    border: 1px solid var(--borderColor);
                    box-shadow: var(--boxShadow);
                    padding: .4rem;
                    color: var(--greyText);

                    &:hover {
                        background: var(--primaryColor);
                        transform: translateY(-7px);
                        transition: var(--transition);
                        border: 1px solid var(--primaryColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }
        
        .footerLinks {
            display: grid;

            .linkTitle {
                color: var(--blackColor);
                font-weight: 500;
                display: block;
                padding-bottom: 1rem;
            }

            li a {
                display: block;
                color: var(--greyText);
                transition: var(--transition);
                padding: .3rem 0;

                &:hover {
                    transform: translateX(7px);
                    color: var(--primaryColor);
                }
            }
        }
    }

    .copyRightDiv {
        justify-content: center;
        margin-top: 1.5rem;
        padding: 1rem;
        gap: 1rem;
        //border: 1px solid var(--textColor);
        text-align: center;
        background: var(--secondaryColor);
        

        p {
            color: var(--textColor);

            a{
                color: var(--textColor);
            }
        }
    }
}