@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500&family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

:root {
  --primaryColor: hsl(225,50%,48%);
  --secondaryColor: hsl(180,17%,95%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28,100%,82%);
  --hoverColor: hsl(225,56%,59%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 12%);
  --textColor: hsl(240, 1%, 48%);
  --borderColor: hsl(0, 0%, 83%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%,96%);
  --greyText: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --transition: .4s ease-in-out;
}

body {
  background: var(--whiteColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: var(--primaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--whiteColor);
}
.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--hoverColor);
}

img, video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--greyText);
}

p {
  font-size: 13px;
  color: var(--greyText);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--blackColor);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--blackColor);
}

@media screen and (min-width: 400px) {
  .home {
    padding-top: 12rem;
  }
  .search .sectionContainer .searchInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .travelers .sectionContainer .travelersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe .sectionContainer {
    margin: auto;
  }
  .subscribe .sectionContainer .inputDiv {
    flex-direction: row;
    padding: 0 0.5rem;
    border-radius: 3rem;
  }
  .footer .sectionContainer {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }
  .footer .sectionContainer .footerLinks {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 570px) {
  .home .mainText {
    width: 80%;
  }
  .home .homeImages .videoDiv .video {
    border-radius: 15rem;
  }
  .search .sectionContainer .btns {
    border-radius: 3rem;
    flex-direction: row;
  }
  .support .sectionContainer .infoDiv .textDiv {
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .info .infoContainer .titleDiv {
    flex-direction: row;
  }
  .info .infoContainer .titleDiv h2 {
    text-align: center;
    max-width: 500px;
  }
  .info .infoContainer .cardsDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .lounge .sectionContainer .textDiv .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe .sectionContainer .inputDiv {
    justify-content: space-between;
  }
  .subscribe .sectionContainer .inputDiv .btn {
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .footer .sectionContainer {
    padding-top: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 680px) {
  .home .mainText {
    width: 80%;
  }
  .home .homeImages .videoDiv {
    width: 80%;
  }
  .home .homeImages .videoDiv .video {
    height: 100%;
    width: 100%;
    border-radius: 15rem;
  }
  .home .homeImages .plane {
    width: 90%;
    top: -8%;
  }
  .search .sectionContainer .btns {
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .sectionContainer .searchInput {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .sectionContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    align-items: center;
  }
  .navbar .navbarOne .none {
    display: flex;
    gap: 1.5rem;
  }
  .navbar .navbarOne .none li {
    font-size: 13px;
    gap: 1.5rem;
    color: var(--textColor);
  }
  .navbar .navbarOne .none li:hover {
    color: var(--primaryColor);
    text-decoration: underline;
    cursor: pointer;
  }
  .navbar .navbarTwo {
    justify-content: space-between;
  }
  .navbar .navbarTwo .logoDiv .logo {
    width: 20%;
  }
  .navbar .navbarTwo .menu {
    flex-direction: row;
    gap: 0.5rem;
  }
  .navbar .navbarTwo .menu .listItem {
    padding: 0 0.5rem;
    font-size: 14px;
    color: var(--textColor);
    font-weight: 700;
  }
  .navbar .navbarTwo .menu .listItem:hover {
    cursor: pointer;
    color: var(--primaryColor);
  }
  .navbar .navbarTwo .btnOne, .navbar .navbarTwo .toggleIcon {
    display: none;
  }
  .search .sectionContainer .btns {
    width: 70%;
  }
  .search .sectionContainer .searchInput {
    grid-template-columns: repeat(4, 1fr);
  }
  .search .sectionContainer .searchInput .singleInput .texts input {
    width: 100%;
  }
  .support .sectionContainer .infoDiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 1rem;
  }
  .support .sectionContainer .infoDiv .textDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  .support .sectionContainer .infoDiv .imgDiv {
    margin-top: 8rem;
    height: 0;
  }
  .info .infoContainer {
    padding: 0 6rem;
  }
  .info .infoContainer .titleDiv {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .info .infoContainer .cardsDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .info .infoContainer .cardsDiv .singleCard {
    max-width: 260px;
    padding: 3rem 1rem;
  }
  .lounge .sectionContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .lounge .sectionContainer .textDiv {
    grid-area: 1;
  }
  .lounge .sectionContainer .textDiv .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .travelers .sectionContainer .travelersContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .home {
    padding-top: 13rem;
  }
  .home .mainText {
    width: 70%;
    padding-bottom: 1.5rem;
    font-size: 22px;
    line-height: 4rem;
  }
  .search .sectionContainer .searchInput {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer .sectionContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  .travelers .sectionContainer .travelersContainer {
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem 0;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h2 {
    font-size: 27px;
  }
  .section {
    padding: 6rem 0 4rem;
  }
  .container {
    width: 75%;
    margin: auto;
  }
  .navbar .navbarOne, .navbar .navbarTwo {
    padding: 1.5rem 5rem;
  }
  .navbar .navbarWithBg {
    padding: 0 5rem;
  }
  .home .mainText {
    width: 60%;
    font-size: 25px;
    line-height: 4rem;
  }
  .home .homeImages .videoDiv {
    width: 90%;
    height: 300px;
  }
  .home .homeImages .videoDiv .video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15rem;
  }
  .home .homeImages .plane {
    width: 90%;
    top: -16%;
  }
  .search .sectionContainer .btns {
    width: 70%;
  }
}
@media screen and (min-width: 1106px) {
  .subscribe .sectionContainer {
    width: 60%;
  }
}
@media screen and (min-width: 1332px) {
  .navbar .navbarTwo .menu {
    gap: 1rem;
  }
  .navbar .navbarTwo .menu .listItem {
    padding: 0 1.5rem;
    font-size: 16px;
  }
  .support .sectionContainer .infoDiv {
    gap: 1rem;
  }
  .support .sectionContainer .infoDiv .textDiv .singleInfo p {
    max-width: 500px;
  }
  .subscribe .sectionContainer {
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .home .homeImages .plane {
    width: 80%;
    top: -24%;
  }
}
::-moz-selection {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
::selection {
  background: var(--primaryColor);
  color: var(--whiteColor);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--greyBg);
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */